<!doctype html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- Optional theme -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
      <title>Page not found | Audible Reddit</title>
      <meta content="">
      <style>
         p {
         white-space: pre-wrap;
         }
         footer {
         bottom: 0;  
         background-color: #072454;
         color: #000000;
         padding: 32px;
         }
         footer a {
         color: #f5f5f5;
         }
         footer a:hover {
         color: #8fbf42;
         text-decoration: none;
         }
      </style>
      <nav class="navbar navbar-toggleable-md navbar-inverse  " style="background-color: #072454;">
         <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <a class="navbar-brand" href="/">Audible Reddit</a>
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
               <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
               <a class="nav-item nav-link" href="/india">India</a>
               <a class="nav-item nav-link" href="/worldnews">World News</a>
               <a class="nav-item nav-link" href="/technology">Technology</a>
               <a class="nav-item nav-link" href="/upliftingnews">UpliftingNews</a>
               <a class="nav-item nav-link" href="/worldpolitics">Worldpolitics</a>
               <a class="nav-item nav-link" href="/uncensorednews">Uncensorednews</a>
               <a class="nav-item nav-link" href="/environment">Environment</a>
               <a class="nav-item nav-link" href="/economics">Economics </a>            </div>
            <form class="form-inline my-2 my-lg-0" action="{{ url_for('search') }}" method = 'POST'>
               <input class="form-control mr-sm-2" name = "text" type="text" placeholder="Subreddit">
               <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search </button>
            </form>
         </div>
      </nav>
   </head>
   <body>
{% block body %}
  <h1 class="text-center">Page Not Found</h1>
  <img width="504" height="504" class="rounded mx-auto d-block" src="/static/reddit404.png" alt="Card image cap">
  <p class="text-center">What you were looking for is just not there.
  <p class="text-center"><a href="{{ url_for('all') }}">go somewhere nice</a>
{% endblock %}
      <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~ Required Javascript files ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
   </body>
   <footer class="text-center">
      <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
      <span class="glyphicon glyphicon-chevron-up"></span>
      </a><br><br>
      <p>Audible Reddit Made By <a href="https://github.com/LinuxTerminali"  title="My Github">LinuxTerminali</a></p>
      <p>REDDIT and the ALIEN Logo are registered trademarks of reddit inc.</p>
   </footer>
</html>